---
import { getCollection } from 'astro:content';
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags?.includes(tag));
        return filteredPosts.length > 0 ? {
            params: { tag },
            props: { posts: filteredPosts },
        } : {params: { tag: 'none'}, props: {posts: []}};  // TODO: janky
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title}/>)}
    </ul>
</BaseLayout>
