---
import { getCollection } from 'astro:content';
import BlogPost from '../../components/blog/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
        return filteredPosts.length > 0 ? {
            params: { tag },
            props: { posts: filteredPosts },
        } : {params: { tag: 'none'}, props: {posts: []}};  // TODO: janky
    });
}

// prerender the page as static HTML during the build process
export const prerender = true;

const { tag } = Astro.params;
const { posts: posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <p>Blog posts tagged with {tag}</p>
    <ul>
        {posts.map((post) => <BlogPost url={`/blog/${post.slug}`} title={post.data.title}/>)}
    </ul>
</BaseLayout>
