---
---
<nav>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/stream'>Stream</a>
  <a href='/blog'>Blog</a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
</style>
